<!-- Code snippet -->
<ons-page>
  <ons-toolbar>
   <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">{{'HEADER_MESSAGE_HOME'|translate}}</div>
  </ons-toolbar>
      <div class="container" align="center">
        <img ng-src="./img/muhc-logo-text.png" >
      </div>
  <div class='container' style="margin-top:3vh">
    <div class="panel panel-default">
      <div class="panel-body" style="height:250px;text-align: left;padding:5% 1% 5% 1%;">
      </div>
    </div>
  </div>
  </ons-page>