<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">About This App</div>
  </ons-toolbar>

  <ons-row style="margin-top: 100px; text-align: center;">
    <ons-col>
      <p style="color: #999; font-size: 13px;">If you have been chosen to take part of <i>Q+</i>, you can use this app to get more info about your cancer treatment at Cedar Cancer Centre.</p>
    </ons-col>
  </ons-row>
</ons-page>