<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">Feedback Form</div>
  </ons-toolbar>

  <ons-row style="margin-top: 100px; text-align: center;">
    <ons-col>
      <p style="color: #999; font-size: 13px;">
      ● Patient reported outcome and quality of life questionnaires, as appropriate for the patient<br>
      ● Patient feedback for future patients allow patients to leave their comments/advice for future similar patients<br>
      ● Messages to and from/physician and treating team
      </p>
    </ons-col>
  </ons-row>
</ons-page>