/* This file was created to override some of the default styles from tui-jsdoc-template.
 * To add more overrides: generate the project docs using the command in package.json,
 * copy selected CSS from docs/generated/styles/tui-doc.css, paste here, and modify.
 */

.lnb h3 {
    color: #bada55;
}
.lnb h3 a {
    color: #c0e645;
}
.lnb h3 a:hover {
    color: #a3c23c;
}

/* FOOTER */
footer {
    background-color: #6EAC42;
}

#resizer {
    background-color: #bada55;
}
