 <ons-page ng-controller="RequestChangeController">
    <ons-toolbar class="hidden-md hidden-lg">
      <div class="left"><ons-back-button>Back</ons-back-button></div>
      <div class="center">Request Change</div>
      <div class="right" ng-show="changeSubmitted"><ons-toolbar-button ng-click="editRequest()">Edit</ons-toolbar-button></div>
    </ons-toolbar>
    <div>
    
 <br>
 <h5 style="text-align:left;margin-left:20px">Select Three Dates:</h5>
 <div ng-show="showAlert" style="margin-left:2vw;margin-top:2vh;">
        <p class="{{alertClass}}">{{alertMessage}}</p>
  </div>

  <ul class="list">
  <li>
  <ons-row style="padding:10px" >
    <ons-col >
    <div style="margin-left:20px">
      <input ng-disabled="changeSubmitted" type="date" ng-model="firstDate" >
      </div>
    </ons-col>
    <ons-col width="80px" >
    <div>
    <select ng-disabled="changeSubmitted"  name="Language" ng-model="firstTimeOfDay">
              <option value="Morning">Morning</option>
              <option value="Afternoon">Afternoon</option>
          </select>
    </div>
    </ons-col>
  </ons-row>
   <ons-row style="padding:10px" >
    <ons-col >
    <div style="margin-left:20px">
      <input ng-disabled="changeSubmitted" type="date" ng-model="secondDate" >
      </div>
    </ons-col>
    <ons-col width="80px" >
    <div>
    <select ng-disabled="changeSubmitted" name="Language" ng-model="secondTimeOfDay">
              <option value="Morning">Morning</option>
              <option value="Afternoon">Afternoon</option>
          </select>
    </div>
    </ons-col>
  </ons-row>
   <ons-row style="padding:10px" >
    <ons-col >
    <div style="margin-left:20px">
      <input ng-disabled="changeSubmitted" type="date" ng-model="thirdDate" >
      </div>
    </ons-col>
    <ons-col width="80px" >
    <div>
    <select ng-disabled="changeSubmitted" name="Language" ng-model="thirdTimeOfDay">
              <option value="Morning">Morning</option>
              <option value="Afternoon">Afternoon</option>
          </select>
    </div>
    </ons-col>
  </ons-row>



  <!--<input type="date" ng-model="startDate" ><br><br>
   <input type="date" ng-model="endDate"><br><br>
  <strong>Pick Time of Day:</strong><br><select name="Language" ng-model="timeOfDay">
              <option value="Morning">Morning</option>
              <option value="Afternoon">Afternoon</option>
              <option value="Evening">Evening</option>
          </select>-->

</li>

  </ul>
  <div class="container" style="color:grey;font-size:10px">
    <p>NOTE: The submission of this form does not guarantee a change to your appointment, a request with three available dates will be submitted to the clinic, if there are availabilities the clinic will contact you to make the change and you will get notify via the app.
    </p>
  </div>
  <div>
    <button class="button button--large" ng-disabled="disabledButton||changeSubmitted" ng-click="requestChange()"  style="margin: 0 auto;">Request Change</button><br>
  </div>
        </div>
  </ons-page>