# ignore configurations 
js/config.js
php/config.php

# ignore swap files
*.swp
*.swo
./**/*.swp
./**/*.swo

# ignore libraries
js/lib/*
css/lib/*
php/lib/*

# ignore images directory
images/*

# ignore font directory
fonts/*

# ignore image directory
images/*

# ignore version control script
bumpversion.sh
