<div class="row" >
<div class="col-xs-12 col-sm-7">
  <div ng-repeat="document in documents" class="row div-document">
  <div class="col-xs-1">
<i class="icon ion-calendar"></i>
  </div>
  <div align="center" class="col-xs-9">

{{document.ImageHospitalName_EN}}
    <br>
{{document.ImageHospitalDescription_FR}}
<div align="center">
<img ng-src="http://localhost:8888/qplus/AdminPanel-MySQLDB-NodeListener-Docs{{document.ImagePathLocation}}" width="200px" height="100px">
</div>
  </div>
  <div class="col-xs-2">
    {{document.DateAdded|date:"dd/MM/yy 'at' hh:mm a"}}
  </div>
</div>
</div>
<div class="col-xs-12 col-sm-5">

</div>

</div>
