<div class="panel panel-default" >
<div class="panel-body" >

 <div style="overflow-y:scroll;height:50vh;overflow-x:hidden" scroll-glue-bottom="glue">
    <div style="margin-top: 30px" align="center" ng-show="conversation.length==0"><h3>No messages!</h3></div>
    <div  ng-repeat="mes in messages">
         <br>
      <div style="height: 1px; background-color: #C1C1C1; text-align: center">
        <span style="font-size:12px;background-color: white; position: relative; top: -1.5em;color:#C1C1C1">
          {{mes.Date|date:'dd/MM/yyyy'}}
        </span>
      </div>
<br>
      <div class="row" >
        <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2" style="padding-right:1vw">
            <img  style="border-radius:4px" width="40px" height="auto" ng-show="mes.Role==1" ng-src="./img/doctor.png">
            <img  width="40px" height="auto" ng-show="mes.Role==0" ng-src="./img/patient.png">

        </div>

        <div class="col-xs-9 col-md-9 col-sm-9 col-lg-9" style="margin-left:-7%">
           <div  class="timline-from" >
              <span class="timeline-name" ng-show="mes.Role==1">{{user}}</span>
              <span class="timeline-name" ng-show="mes.Role==0">{{chat[selectedIndex].ConversationPartnerFirstName}} {{chat[selectedIndex].ConversationPartnerLastName}}</span>
              <span class="timeline-id">{{mes.Date|date:'h:mm a'}}</span>
            </div>
            <div  class="timeline-message ">
              <p>{{mes.MessageContent}}</p>
            </div>
            <div>
              <a ng-click="messageAttachmentOpener(mes)">
                <img ng-src="{{mes.Attachment}}"  class="img-responsive" style="max-width:250px">
              </a>
            </div>
        </div>
      </div>
    </div>

    </div>
<div>
  <br>
<form class="form-group">
<div class="col-xs-1">
 <span class=" btn btn-default btn-file">
  <i icon="icon ion-paperclip"></i><input type="file" id="browseBtn" accept="image/*"/ fileread="upload.Document"><br>
</span>
<div ng-show="showAttachment">
<p style="text-align:left">Attachment</p>
</div>
</div> <textarea ng-model="newMessage" style="margin-left:5%" class="textarea col-xs-8" rows="5"  placeholder="Message"></textarea>
    <div class="right">
      <div class="col-xs-1">
        <button style="margin-left=1%" class="btn btn-primary" ng-disabled="sendButtonDisabled" ng-click="sendMessage()">Send</button>
      </div>
    </div>
    </form>

</div>
</div>
</div>
