<div style="padding:5px">
<table class="table table-bordered table-hover" >
  <thead>
    <tr>
    <th class="active" style="text-align:center">
    Appointment Aria Ser
    </th>
    <th class="active"style="text-align:center">
    Resource
    </th>
    <th class="active"style="text-align:center">
    Scheduled Start Time
    </th>
    <th class="active"style="text-align:center">
    Schedule End Time
    </th>
    <th class="active"style="text-align:center">
    Checkin
    </th>
  </tr>
</thead>
  <tbody>
    <tr align="center" ng-repeat="appointment in appointments">
        <td>{{appointment.AppointmentAriaSer}}</td>
        <td>{{appointment.ResourceName}}</td>
        <td>{{appointment.ScheduledStartTime|date:'EEE MMM dd, yyyy'}}</td>
        <td>{{appointment.ScheduledEndTime|date:'EEE MMM dd, yyyy'}}</td>
        <td>{{appointment.Checkin}}</td>
    </tr>
  </tbody>
</table>
</div>
