<div class="main-div-container">
  <div>
    <div class="col-xs-4" stylw="margin-bottom:30px">

      <div>
      <h3>Search Patient: </h3><input type="search" value="" placeholder="Search" class="search-input" ng-model="searchPatient">
    </div>
    </div>
    <div style="margin-top:30px">
      <table class="table table-bordered table-hover" style="padding:20px">
          <th class="active" style="text-align:center">
          Patient ID #
          </th>
          <th class="active"style="text-align:center">
          Patient Aria Ser
          </th>
          <th class="active"style="text-align:center">
          First Name
          </th>
          <th class="active"style="text-align:center">
          Last Name
          </th>
          <th class="active"style="text-align:center">
          SSN
          </th>
          <th class="active"style="text-align:center">
          Email
          </th>
          <th class="active"style="text-align:center">
          Status
          </th>
          <th class="active">
          </th>

          <tr align="center" ng-repeat="patient in patients|filter:searchPatient">
              <td>{{patient.PatientId}}</td>
              <td>{{patient.PatientAriaSer}}</td>
              <td>{{patient.FirstName}}</td>
              <td>{{patient.LastName}}</td>
              <td>{{patient.SSN}}</td>
              <td>{{patient.Email}}</td>
              <td>{{patient.Status_EN}}</td>
              <td align="center"><button class="btn btn-primary" ng-click="goToPatient(patient)">Go To Patient &raquo;</button></td>
          </tr>
      </table>
    </div>
  </div>
</div>
