<ons-carousel var="app.carouselFull" fullscreen swipeable overscrollable auto-scroll>
                    <ons-carousel-item>
                   <button class="button button--large--quiet" ng-click="clickBack()"><ons-icon icon="ion-ios-arrow-back"></ons-icon>Back<button> <br>
                     <img width="1200px" height="645px" ng-src="{{imageList['image1']}}" alt="Starter template example">

                             
                                
                    </ons-carousel-item>
                    <ons-carousel-item>
                      <button class="button button--large--quiet" ng-click="clickBack()"><ons-icon icon="ion-ios-arrow-back"></ons-icon>Back</button><br>
                                 <img ng-src="{{imageList['image2']}}" alt="Starter template example">

                             
                              
                    </ons-carousel-item>
                    <ons-carousel-item>
                        <button class="button button--large--quiet" ng-click="clickBack()"><ons-icon icon="ion-ios-arrow-back"></ons-icon>Back</button><br>
                         <img ng-src="{{imageList['image3']}}" alt="Starter template example">

                             
                            
                    </ons-carousel-item>
                    <ons-carousel-item>
                      <button class="button button--large--quiet" ng-click="clickBack()"><ons-icon icon="ion-ios-arrow-back"></ons-icon>Back</button> <br>
                         <img ng-src="button button--large--quiet" alt="Starter template example">

                             
                             
                    </ons-carousel-item>

                    <!--<ons-carousel-cover><div class="cover-label">Swipe left or right</div></ons-carousel-cover>-->
            </ons-carousel>