<!-- For the full desktop view I have found this http://fullcalendar.io/docs/, plus an angular plugin to manipulate it-->
<!--https://github.com/angular-ui/ui-calendar-->
<ons-page ng-controller="PatientPortalController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-hide="searchingMask" ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
        <div class="notification menu-notification">{{TotalNumberOfNews}}</div>
      </ons-toolbar-button>
    </div>
    <div class="center">Messages</div>
    <div class="right" ng-show="searchingMask">
      <ons-toolbar-button ng-click="closeSearchMask()">Cancel</div>
  </ons-toolbar>
  <ons-pull-hook ng-hide="searchingMask" ng-action="load($done)" var="loader">
    <span ng-switch="loader.getCurrentState()">
      <span ng-switch-when="initial">
        <ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Pull down to refresh</span>
      <span ng-switch-when="preaction">
        <ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Release to refresh</span>
      <span ng-switch-when="action">
        <ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Loading data...</span>
    </span>
  </ons-pull-hook>
  <div class="container" ng-hide="noNotifications||searchingMask">
    <a style="text-decoration:none" href ng-click="menu.setMainPage('views/notifications.html',{closeMenu:true})">
      <alert align="center" ng-show="showAlert&&(Notifications==1)" ng-model="alert" type="success" close="closeAlert()">You have {{Notifications}} unseen notifications.
        <span class="hidden-xs">Go to your Notifications page under the menu on the left.</span>
      </alert>
      <alert align="center" ng-show="showAlert&&(Notifications>1)" ng-model="alert" type="success" close="closeAlert()">You have {{Notifications}} unseen notification.
        <span class="hidden-xs">Go to your Notifications page under the menu on the left.</span>
      </alert>
    </a>
  </div>
  <!--| propsFilter: {name: $select.search}"  Placed this in 8th line from this one instead of track by $index-->
  <!--List Of Conversations Mobile View-->
  <div class="alert-dialog-mask" style="z-index:1231231" ng-show="searchingMask"></div>
  <div class="visible-xs" ng-controller="ListOfConversationMobileController" style="height:100vh">

    <div class="navigation-bar" style="width:100%">
      <div class="navigation-bar__left">
        <ui-select reset-search-input="true" style="z-index:12312312;margin-left:3vw;margin-top:1vh;width:94vw;min-width: 200px;" ng-model="person.selected" theme="bootstrap" ng-disabled="disabled">
          <ui-select-match placeholder="Search...">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="person in people | propsFilter: {name: $select.search}" refresh="refreshInfo($select.search)" refresh-delay="0">
            <div ng-bind-html="person.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>


      </div>
    </div>
    <div style="overflow-y:scroll">
      <ons-list class="plan-list">
        <ons-list class="plan-list">
          <ons-list-item style="1px solid black" ng-click="personClicked($index)" class="plan list__item list__item--tappable" ng-repeat="conversation in messages">
            <ons-row>
              <ons-col width="12px" style="padding:20px margin-left:5px">
              </ons-col>
              <ons-col class="plan-right">
                <div class="plan-name">{{conversation.MessageRecipient}}</div>
                <div class="plan-info" style="margin-left:10px">
                  <div>
                    <ons-icon icon="ion-ios-person"></ons-icon>&nbsp;&nbsp;{{conversation.Role}}
                  </div>
                </div>
              </ons-col>
              <ons-col width="100px" class="plan-left">
                <div class="plan-duration" ng-show="conversation.DateOfLastMessage">{{conversation.DateOfLastMessage| dateEmail}}</div>
                <img ng-src="./img/unread-email-icon.png" style="opacity:0.7;" width="10px" height="auto" ng-show="conversation.ReadStatus===0">

              </ons-col>
            </ons-row>
          </ons-list-item>
        </ons-list>

    </div>

  </div>



  <!--DESKTOP, TABLET VIEWS ONLY-->
  <!--List of messages per Conversation for every other view -->
  <div class="container hidden-xs" style="margin-top:1% ">

    <div class="col-md-4 col-sm-4 col-lg-4 ">
      <div class="center">

        <strong>Conversations</strong>
      </div>
      <div class="panel panel-default" style="padding:0px;height:79vh">
        <div class="panel-body " style="padding:0px;">

          <!--SEARCH BAR FOR MESSAGES-->

          <div class="navigation-bar" style="width:100%">
            <div class="navigation-bar__left">
              <!-- <input type="search" style="display:inline-block;width: 200px;margin-top:2%;margin-left:2%;" class="search-input"
  placeholder="Search Mailbox...">-->
              <!--<ui-select ng-model="person.selected" theme="select2" ng-disabled="disabled" style="min-width: 200px;">
    <ui-select-match placeholder="Select name...">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="person in people | propsFilter: {name: $select.search}">
      <div ng-bind-html="person.name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>-->
              <!--<span><strong>Search:</strong></span>-->
              <ui-select style="margin-left:1vw;margin-top:1vh;min-width: 200px;width:100%" ng-model="person.selected" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match placeholder="Select name/role...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, Role: $select.search}">
                  <div ng-bind-html="person.name | highlight: $select.search"></div>
                  <small>
                    Role:
                    <span ng-bind-html="''+person.Role | highlight: $select.search"></span>
                  </small>
                </ui-select-choices>
              </ui-select>





            </div>
          </div>

          <!--DESKTOP LIST OF MESSAGES-->
          <div style="overflow-y:scroll;height:71.5vh">
            <ons-list class="plan-list">
              <ons-list-item style="1px solid black" ng-click="personClicked($index)" ng-class="($index==selectedIndex) ? 'my-class' : ''" class="plan list__item list__item--tappable" ng-repeat="conversation in messages">
                <ons-row>
                  <ons-col width="12px" style="padding:20px margin-left:5px">
                  </ons-col>
                  <ons-col class="plan-right">
                    <div class="plan-name">{{conversation.MessageRecipient}}</div>
                    <div class="plan-info" style="margin-left:10px">
                      <div>
                        <ons-icon icon="ion-ios-person"></ons-icon>&nbsp;&nbsp;{{conversation.Role}}
                      </div>
                    </div>
                  </ons-col>
                  <ons-col width="100px" class="plan-left">
                    <div class="plan-duration" ng-show="conversation.DateOfLastMessage">{{conversation.DateOfLastMessage| dateEmail}}</div>
                    <img ng-src="./img/unread-email-icon.png" style="opacity:0.7;" width="10px" height="auto" ng-show="conversation.ReadStatus===0">

                  </ons-col>
                </ons-row>
              </ons-list-item>
            </ons-list>
          </div>
        </div>
      </div>
    </div>


    <!--MESSAGE CONTENT VIEW FOR ALL OF THE VIEWS EXCEPT MOBILE VIEW, NOTE: HIDDEN-XS WAS SPECIFIED IN CONTAINING DIV-->
    <div class="container col-md-8 col-sm-8 col-lg-8">
      <div class="panel panel-default">
        <div class="panel-body">

          <div style="overflow-y:scroll;height:70vh" scroll-glue-bottom="glue">

            <div ng-repeat="mes in conversation" ng-init="(mes.Role=='1' ? messageName='User' : messageName=messages[selectedIndex].MessageRecipient)">
              <br>
              <div style="height: 1px; background-color: #C1C1C1; text-align: center">
                <span style="font-size:12px;background-color: white; position: relative; top: -1.5em;color:#C1C1C1">
                  {{mes.Date|date:'dd/MM/yyyy'}}
                </span>
              </div>
              <br>
              <div class="row">
                <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2" style="padding-right:1vw">
                  <img style="border-radius:4px" width="40px" height="auto" ng-hide="mes.Role=='1'" ng-src="./img/doctor.png">
                  <img width="40px" height="auto" ng-hide="mes.Role=='0'" ng-src="./img/patient.png">

                </div>

                <div class="col-xs-9 col-md-9 col-sm-9 col-lg-9" style="margin-left:-7%">
                  <div class="timline-from">
                    <span class="timeline-name">{{messageName}}</span>
                    <span class="timeline-id">{{mes.Date|date:'h:mm a'}}</span>
                  </div>
                  <div class="timeline-message ">
                    <p>{{mes.MessageContent}}</p>
                  </div>
                  <div>
                    <a ng-click="messageAttachmentOpener(mes)">
                      <img ng-src="{{mes.Attachment}}" class="img-responsive" style="max-width:250px">
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div>
            <br>
            <form class="form-group">
              <div class="col-xs-1">
                <span class=" btn btn-default btn-file">
                  <ons-icon icon="ion-paperclip"></ons-icon>
                  <input type="file" id="browseBtn" accept="image/*" / fileread="upload.Document">
                  <br>
                </span>
                <div ng-show="showAttachment">
                  <p style="text-align:left">Attachment</p>
                </div>
              </div>
              <textarea ng-model="newMessage" style="margin-left:5%" class="textarea col-xs-8" rows="1" placeholder="Message"></textarea>
              <div class="right">
                <div class="col-xs-1">
                  <button style="margin-left=1%" class="button button--quiet" ng-disabled="sendButtonDisabled" ng-click="submitMessage()">Send</button>
                </div>
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</ons-page>
