<div class="main-div-container">
  <div class="container">
    <div ><h4>Role: {{userType}}</h4></div>
    <div ng-show="userType=='Doctor'"><h4>Doctor Aria Ser: {{doctorAriaSer}}</h4></div>

    <h3>Personal App Information</h3>
    <p style="color:grey">The information below is the personal information shared with the patients about you.</p>
    <table class="table table-hover" align="center">
      <thead>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr align="center" ng-repeat="(key, value) in accountFields" ng-show="key!=='Username'">
          <td><strong>{{key|formatFieldsAccount}}</strong>
          <div ng-show="value.Edit" style="margin-top:15px">
            <strong> Enter your new {{key|formatFieldsAccount}}: </strong>
          </div></td>
          <td ng-show="key!=='Image'">{{value.Value|formatTelNum}}
            <div ng-show="value.Edit" style="margin-top:15px">
              <div class="row">
                <div style="margin-left:100px">
              <div class="col-xs-6">
              <input ng-minlength="1" type="text" placeholder="Enter new {{key|formatFieldsAccount}}" value="{{key|formatFieldsAccount}}" ng-model="value.newValue">
            </div>
            <div class="col-xs-2">
              <a ng-click="value.newValue=''" ><span class="list-item-note lucent"><i class="icon ion-close-circled"></i></span></a>
            </div>
          </div>
              </div>
              <br>
              <div class="row">
            <div class="col-xs-12">
              <button class="btn btm-sm btn-success" autofocus="" ng-disabled="value.Value==value.newValue" ng-click="update(key, value.newValue)"> Update</button>&nbsp;
              <button class="btn btm-sm btn-danger" ng-click="value.Edit=false;value.newValue=value.Value;alert[key].show=false"> Cancel</button>
            </div>
          </div>
          <div ng-show="alert[key].show==true">
            <uib-alert type="{{alert[key].alertType}}">{{alert[key].reason}}</uib-alert>
          </div>
        </div>
          </td>
          <td ng-show="key=='Image'">
            <img ng-src="{{value.Value}}" width="40px">
            <div ng-show="value.Edit">
              <div class="col-xs-12">
                <span class="btn btn-primary btn-file" style="margin:5px 0 5px 0">
                    Browse <input type="file" accept="image/*" fileread="uploadProfilePic">
                </span>

                <button ng-disabled="uploadProfilePic==undefined" class="btn btm-sm btn-success" ng-click="update(key,uploadProfilePic)"> Update</button>&nbsp;
                <button class="btn btm-sm btn-danger" ng-click="value.Edit=false;value.newValue=value.Value;uploadProfilePic=undefined"> Cancel</button>
                <br><img width="100px" ng-src="{{uploadProfilePic}}" ng-show="uploadProfilePic">
              </div>
            </div>
          </td>
          <td align="right"><a href ng-click="value.Edit=true;closeAllOtherFields(key)"><i class="icon-edit-account icon ion-edit"></i></a></td>
        </tr>
      </tbody>
    </table>
      <h3>Portal Account Information</h3>
      <table class="table table-hover" align="center">
        <thead>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr align="center">
            <td><strong>Username</strong></td>
            <td> {{username.Value}}
              <div ng-show="username.Edit">
                <div class="row">
                  <div style="margin-left:100px">
                <div class="col-xs-6">
                <input ng-minlength="1" type="text" placeholder="Enter new username" value="username" ng-model="username.newValue"><br>
              </div>
              <div class="col-xs-2">
                <a ng-click="username.newValue=''" ><span class="list-item-note lucent"><i class="icon ion-close-circled"></i></span></a><br>
              </div>
            </div>
                </div>
                <br>
                <div class="row">
              <div class="col-xs-12">
                <button class="btn btm-sm btn-success" ng-click="updateUsername()"> Update</button>&nbsp;
                <button class="btn btm-sm btn-danger" ng-click="username.Edit=false;username.newValue=value.Value;alert['username'].show=false"> Cancel</button>
              </div>

            </div>
            <div ng-show="alert['Username'].show==true">
              <uib-alert type="{{alert['Username'].alertType}}">{{alert['Username'].reason}}</uib-alert>
            </div>
          </div>
            </td>
            <td align="right"><a href ng-click="username.Edit=true"><i class="icon-edit-account icon ion-edit"></i></a></td>
          </tr>
          <tr align="center">
            <td><strong>Password</strong></td>
            <td> *****
              <div ng-show="password.Edit">
                <div class="row">
                  <div style="margin-left:100px">
                <div class="col-xs-6">
                <input ng-minlength="1" type="Password" placeholder="Enter old password" value="Password" ng-model="password.oldValue"><br>
                <input ng-minlength="1" type="Password" placeholder="Enter new password" value="Password" ng-model="password.newValue">
              </div>
              <div class="col-xs-2">
                <a ng-click="password.newValue=''" ><span class="list-item-note lucent"><i class="icon ion-close-circled"></i></span></a><br>
                <a ng-click="password.renewValue=''" ><span class="list-item-note lucent"><i class="icon ion-close-circled"></i></span></a>
              </div>
            </div>
                </div>
                <br>
                <div class="row">
              <div class="col-xs-12">
                <button class="btn btm-sm btn-success" ng-click="updatePassword()"> Update</button>&nbsp;
                <button class="btn btm-sm btn-danger" ng-click="password.Edit=false;password.newValue=value.Value;alert['Password'].show=false"> Cancel</button>
              </div>

            </div>
            <div ng-show="alert['Password'].show==true">
              <uib-alert type="{{alert['Password'].alertType}}">{{alert['Password'].reason}}</uib-alert>
            </div>
          </div>
            </td>
            <td align="right"><a href ng-click="password.Edit=true"><i class="icon-edit-account icon ion-edit"></i></a></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
