<div class="modal-header" align="center">
    <h4 class="modal-title">Login</h4>
</div>
<div class="modal-body">
<form novalidate>
  <div class="row text-center" style="padding-right:40px;" align="center">
    <md-content class="autoScroll">
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Username</label>
     <md-icon class="material-icons" style="color:darkblue">person</md-icon>
      <input ng-model="user.username" type="text" ng-required ng-keyup="onEnter($event)">
    </md-input-container>
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Password</label>
       <md-icon class="material-icons" style="color:darkblue">lock</md-icon>
      <input ng-model="user.password" type="password" ng-required ng-keyup="onEnter($event)">
    </md-input-container>
    </md-content>
  </div>
  <div align="center" style="width:70%;text-align:center;margin:0 auto">
  <md-button ng-click="login(user.username,user.password)" style="width:80%" class="md-raised md-primary">Log in</md-button>
     <br>
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.message}}</uib-alert>
  </div>
<!--<div align="center" style="width:70%;text-align:center;margin:0 auto">

  <div class="input-group" >
    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span>Username</span>
    <input type="text" class="form-control" ng-model="user.username">
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span>&nbsp;Password</span>
    <input type="password" class="form-control" ng-model="user.password">
  </div>
  <br>
  <button ng-click="login(user.username,user.password)" class="btn btn-info" style="width:100%;">Log in</button>
  <br>
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.message}}</uib-alert>
</div>-->

</form>
</div>
