<div  class="main-div-container jumbotron animated zoomIn">
  <div ng-show="loggedin">
  <div style="margin-left:20px;margin-top:20px">
    <h4>{{date|date:'EEEE MM dd'}}</h4>
    <h2>
       Welcome, <span ><strong>{{currentUser.FirstName}} {{currentUser.LastName}}</strong></span>
     </h2>
  </div>
  <div class="row" style="padding:30px 0 0 30px" ng-show="userType!=='Staff'">
  <div class="col-xs-12 col-md-6 col-lg-3">
    <md-card>
      <md-card-title>
        <md-card-title-media>
          <div class="widget-icon red pull-left">
            <i class="ion-medkit"></i>
          </div>
        </md-card-title-media>
        <md-card-title-text>
          <span class="md-headline">{{TotalNumberOfDoctorPatients}} Patients</span>
          <span class="md-subhead">&nbsp;<a ui-sref="patients.search-patients">see my patients&raquo;</a></span>
        </md-card-title-text>

      </md-card-title>
    </md-card>
</div>

<div class="col-xs-12 col-md-6 col-lg-3">
  <md-card>
    <md-card-title>
      <md-card-title-media>
        <div class="widget-icon blue pull-left">
          <i class="ion-android-mail"></i>
        </div>
      </md-card-title-media>
      <md-card-title-text>
        <span class="md-headline">{{NumberOfNewMessages}} Messages</span>
        <span class="md-subhead"><a href ui-sref="messages">see my messages &raquo;</a></span>
      </md-card-title-text>

    </md-card-title>
  </md-card>
</div>
<div class="col-xs-12 col-md-6 col-lg-3">
  <md-card>
    <md-card-title>
      <md-card-title-media>
        <div class="widget-icon orange pull-left">
          <i class="ion-arrow-graph-up-right"></i>
        </div>
      </md-card-title-media>
      <md-card-title-text>
        <span class="md-headline"> Activity</span>
        <span class="md-subhead">&nbsp;<a ui-sref="patients.activity">see patient activity&raquo;</a></span>
      </md-card-title-text>

    </md-card-title>
  </md-card>
</div>
</div>
</div>

<div class="home-font row" style="margin:20px 0 0 20px;background:inherit">
  <div class="row">
    <md-card>
  <!--<md-card-title>
    <md-card-title-text>

    </md-card-title-text>
  </md-card-title>-->
  <md-card-content>
    <div class="row">
      <div class="col-xs-12 col-lg-3">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="text-center md-subhead">Number of registered patients</span>
              <span class="text-center" style="font-size:45px;">{{TotalNumberOfPatients}}</span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
      </div>
      <div class="col-lg-9 col-xs-12">
        <h3 class="md-headline">About Opal</h3>
        Opal is a multiplatform application that allows patients to obtain information about their treatment and waiting times.
        <br> These tool will allow you as a doctor or administrator to obtain all the information that is currently being shown to the patient.
        <br> The Opal Admin Panel offers the following features:
        <ul>
          <li>Obtain a real time view of the information that is currently shared with the patients.</li>
          <li> Keep an open channel of communication with the patients via chat message.</li>
          <li> See all the documents that have currently being published to the patients.</li>
          <li>Update the information that is currently being shown to the patient about you.</li>
        </ul>
      </div>

    </div>
  </md-card-content>
  <!--<md-card-actions layout="row" layout-align="end center">
    <md-button>Action 1</md-button>
    <md-button>Action 2</md-button>
  </md-card-actions>-->
</md-card>

</div>
</div>
</div>
