<div class="main-div-container" style="padding:20px">
<form class="container" align="center">
<div ng-show="showQRCode" style="text-align:center">
	<h3 style="color:darkgreen" >
			Map successfully saved, image QR CODE:
	</h3>	
	<img ng-src="{{QRCode}}" style="width:300px;height:auto">
</div>
 <div class="form-group">
    <label for="exampleInputEmail1">Enter alias name for QR code generation</label>
    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="MapAliasName" placeholder="Enter alias">
 </div>
 <div class="form-group">
    <label for="exampleInputEmail1">Enter map image URL</label>
    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="MapUrl" placeholder="Enter image url">
 </div>
 <div ng-show="showMap" style="padding:0 0 30px 0">
 	<img ng-src="{{MapUrl}}" style="width:400px;height:auto">
 </div>
<div class="form-inline ">
  <div class="form-group">
    <label for="exampleInputName2">Enter Map Name EN</label>
    <input type="text" class="form-control" id="exampleInputName2" ng-model="MapNameEN" placeholder="Enter map name in English">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Enter Map Name FR</label>
    <input type="text" class="form-control" id="exampleInputEmail2" ng-model="MapNameFR"placeholder="Enter map name in French">
  </div>
</div>
<br>
<div class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Enter Map Description EN</label>
    <input type="text" class="form-control" id="exampleInputName2" ng-model="MapDescriptionEN" placeholder="Enter map description English">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Enter Map Description FR</label>
    <input type="text" class="form-control" id="exampleInputEmail2" ng-model="MapDescriptionFR" placeholder="Enter map description French">
  </div>
 </div>
 <br>
  <button type="submit" class="btn btn-primary" ng-click="submitMap()">Submit</button>
</form>

</div>