<div class="container-fluid animated zoomIn">
  <div class="col-xs-4" style="margin:0;padding:0">
    <md-card>
  <div layout="column" ng-cloak style="height:500px">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Inbox</h2>
    </div>
  </md-toolbar>
  <md-content flex style="padding:0">
      <md-list >
        <md-list-item class="md-3-line" ng-class="(selectedIndex==$index)?'conversationSelected':''"ng-repeat="person in chat" ng-click="goToConversation($index)">
            <div class="md-list-item-text">
              <h3>{{person.ConversationPartnerFirstName}}   {{person.ConversationPartnerLastName}}</h3>
              <h4>Id #:{{person.PatientId}}</h4>
              <p>
                <i class="icon ion-person" style="color:grey"></i>&nbsp;{{person.Role}}, AriaSer:{{person.AriaSer}}
              </p>
            </div>
        </md-list-item>
      </md-list>
  </md-content>
</div>
</md-cart>
</div>
<div class="col-xs-8" style="margin:0;padding:0">
  <md-card style="margin:1px">
    <md-subheader class="md-primary">{{chat[selectedIndex].ConversationPartnerFirstName}} {{chat[selectedIndex].ConversationPartnerLastName}}</md-subheader>
  </md-card>
  <md-card style="margin:0">
    <md-card-content style="padding:10px">
  <div style="overflow-y:scroll;height:50vh;overflow-x:hidden;padding:3px" scroll-glue-bottom="glue">
     <div style="margin-top: 30px" align="center" ng-show="conversation.length==0"><h3>No messages!</h3></div>
     <div  ng-repeat="mes in conversation">
          <br>
       <div style="height: 1px; background-color: #C1C1C1; text-align: center">
         <span style="font-size:12px;background-color: white; position: relative; top: -1.5em;color:#C1C1C1">
           {{mes.Date|date:'dd/MM/yyyy'}}
         </span>
       </div>
<br>
       <div class="row" >
         <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2" style="padding-right:1vw">
             <img  style="border-radius:4px" width="40px" height="auto" ng-show="mes.Role==1" ng-src="./img/doctor.png">
             <img  width="40px" height="auto" ng-show="mes.Role==0" ng-src="./img/patient.png">

         </div>

         <div class="col-xs-9 col-md-9 col-sm-9 col-lg-9" style="margin-left:-7%">
            <div  class="timline-from" >
               <span class="timeline-name" ng-show="mes.Role==1"><strong>{{user}}</strong></span>
               <span class="timeline-name" ng-show="mes.Role==0"><strong>{{chat[selectedIndex].ConversationPartnerFirstName}} {{chat[selectedIndex].ConversationPartnerLastName}}</strong></span>
               <span class="timeline-id">{{mes.Date|date:'h:mm a'}}</span>
             </div>
             <div  class="timeline-message ">
               <p>{{mes.MessageContent}}</p>
             </div>
             <div>
               <a ng-click="messageAttachmentOpener(mes)">
                 <img ng-src="{{mes.Attachment}}"  class="img-responsive" style="max-width:250px">
               </a>
             </div>
         </div>
       </div>
     </div>

     </div>
   </md-card-content>
   </md-card>
   <md-card style="margin:1px">
     <md-card-content style="padding-bottom:10px;padding-top:0">
<div>


   <br>
 <form class="form-group">
 <div class="col-xs-1">
  <span class=" btn btn-default btn-file">
   <i icon="icon ion-paperclip"></i><input type="file" id="browseBtn" accept="image/*"/ fileread="upload.Document"><br>
</span>
<div ng-show="showAttachment">
 <p style="text-align:left">Attachment</p>
 </div>
 </div> <textarea ng-model="newMessage" style="margin-left:5%" class="textarea col-xs-8" rows="5"  placeholder="Message"></textarea>
     <div class="right">
       <div class="col-xs-1">
         <button style="margin-left=1%" class="btn btn-primary" ng-disabled="sendButtonDisabled" ng-click="sendMessage()">Send</button>
       </div>
     </div>
     </form>

 </div>
 </md-card-content>
 </md-card>

</div>
 <!--<div class="col-md-4 col-sm-4 col-lg-4" >
 <div class="panel panel-default" style="height:70vh; margin:0;padding:0">
 <div class="panel-body" style="margin:0;padding:0">
   <ul class="list" style="overflow-x:hidden">
    <li class="list__item" ng-class="(selectedIndex==$index)?'conversationSelected':''"ng-repeat="person in chat" ng-click="goToConversation($index)">
       <div class='row' >
         <div class="col-xs-1" >
        <div ng-show="person.ReadStatus==0">
          <i class="icon ion-record" style="font-size:13px;color:CornflowerBlue "></i>
        </div>
         </div>
          <div class="col-xs-8">
          <div style="font-size:15px" ><strong>{{person.ConversationPartnerFirstName}}   {{person.ConversationPartnerLastName}}</strong> <span style="color:grey">Id #:{{person.PatientId}}</span></div>
          <div style="color:grey"><i class="icon ion-person" style="color:grey"></i>&nbsp;{{person.Role}}, AriaSer:{{person.AriaSer}} </div>

         </div>
          <div class="col-xs-2">

        <!--  <div ng-show="conversation.DateOfLastMessage!==null">{{conversation.DateOfLastMessage|dateEmail}}</div>-->
<!--         </div>
         </div>
    </li>
  </ul>

 </div>
 </div>
 </div>
 <div class="col-xs-12 col-md-8 col-sm-8 col-lg-8" >
   <div class="panel panel-default" >
   <div class="panel-body" >

    <div style="overflow-y:scroll;height:50vh;overflow-x:hidden" scroll-glue-bottom="glue">
       <div style="margin-top: 30px" align="center" ng-show="conversation.length==0"><h3>No messages!</h3></div>
       <div  ng-repeat="mes in conversation">
            <br>
         <div style="height: 1px; background-color: #C1C1C1; text-align: center">
           <span style="font-size:12px;background-color: white; position: relative; top: -1.5em;color:#C1C1C1">
             {{mes.Date|date:'dd/MM/yyyy'}}
           </span>
         </div>
 <br>
         <div class="row" >
           <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2" style="padding-right:1vw">
               <img  style="border-radius:4px" width="40px" height="auto" ng-show="mes.Role==1" ng-src="./img/doctor.png">
               <img  width="40px" height="auto" ng-show="mes.Role==0" ng-src="./img/patient.png">

           </div>

           <div class="col-xs-9 col-md-9 col-sm-9 col-lg-9" style="margin-left:-7%">
              <div  class="timline-from" >
                 <span class="timeline-name" ng-show="mes.Role==1"><strong>{{user}}</strong></span>
                 <span class="timeline-name" ng-show="mes.Role==0"><strong>{{chat[selectedIndex].ConversationPartnerFirstName}} {{chat[selectedIndex].ConversationPartnerLastName}}</strong></span>
                 <span class="timeline-id">{{mes.Date|date:'h:mm a'}}</span>
               </div>
               <div  class="timeline-message ">
                 <p>{{mes.MessageContent}}</p>
               </div>
               <div>
                 <a ng-click="messageAttachmentOpener(mes)">
                   <img ng-src="{{mes.Attachment}}"  class="img-responsive" style="max-width:250px">
                 </a>
               </div>
           </div>
         </div>
       </div>

       </div>
 <div>
     <br>
   <form class="form-group">
   <div class="col-xs-1">
    <span class=" btn btn-default btn-file">
     <i icon="icon ion-paperclip"></i><input type="file" id="browseBtn" accept="image/*"/ fileread="upload.Document"><br>
 </span>
 <div ng-show="showAttachment">
   <p style="text-align:left">Attachment</p>
   </div>
   </div> <textarea ng-model="newMessage" style="margin-left:5%" class="textarea col-xs-8" rows="5"  placeholder="Message"></textarea>
       <div class="right">
         <div class="col-xs-1">
           <button style="margin-left=1%" class="btn btn-primary" ng-disabled="sendButtonDisabled" ng-click="sendMessage()">Send</button>
         </div>
       </div>
       </form>

   </div>
   </div>
   </div>
 </div>-->


</div>
