# SPDX-FileCopyrightText: Copyright (C) 2025 Opal Health Informatics Group at the Research Institute of the McGill University Health Centre <john.kildea@mcgill.ca>
#
# SPDX-License-Identifier: AGPL-3.0-or-later
name: Build Docs

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
  pull_request:
    paths:
      - 'docs/**'

permissions:
  contents: read

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      # Setup
      - uses: actions/checkout@v5.0.0
        with:
          persist-credentials: false
      - name: Install dependencies
        run: npm ci

      # Build the docs
      - name: Build the docs
        run: npm run docs
      - name: Archive output
        uses: actions/upload-artifact@v5.0.0
        with:
          name: docs
          path: docs/generated/
